.env
.venv/
__pycache__/
*.pyc

data/pdfs/*
!data/pdfs/.gitkeep

data/reports/*
!data/reports/.gitkeep

data/discord_uploads/*
!data/discord_uploads/.gitkeep

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
